<font face="Georgia" size="3" color="#007acc">
   <div align="center">
    <h1><strong>Tecnológico de Monterrey</strong></h1>
        <h1><strong>Campus Querétaro</strong></h1>
        <h1>Analítica de datos y herramientas de inteligencia artificial II</h1>
        <h3>Grupo 501</h3>
    <h4><strong>Actividad 7 (Regresión Logística)</strong></h4>
           <h4>A01378047 Ana Michele Hay Robles</h4>
           <h4></h4>
           <h4></h4>
           <h4>23 de octubre 2023</h4>
    </div>

</font>
</div>

In [56]:
#Cargamos librerias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.special as special
from scipy.optimize import curve_fit
import seaborn as sns
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from sklearn.metrics import precision_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score

In [28]:
'''

INSTRUCCIONES:
Realiza las acciones de preprocesamiento necesarias: Nulos y Outliers
Analizar 10 casos de correlación logística que existe entre diferentes variables de nuestra base de datos, aplicando la herramienta de “Regresión Logística”
Convertir las variables que sean necesarias en variables de tipo  dicotómica con las categorías que se consideren pertinentes, aplicando la herramienta de  “Regresión Logística”
Realizar una tabla de todos los coeficientes de precisión, exactitud y sensibilidad obtenidos para cada correlación analizada, según sea el caso.
Crear los archivos requeridos en Google Colab y respaldarlos en GitHub.
Generar un reporte comparativo sobre los análisis realizados y subirlo a GitHub, en formato pdf.
Subir el link del repositorio en CANVAS para “Evaluación”

'''

'\n\nINSTRUCCIONES:\nRealiza las acciones de preprocesamiento necesarias: Nulos y Outliers\nAnalizar 10 casos de correlación logística que existe entre diferentes variables de nuestra base de datos, aplicando la herramienta de “Regresión Logística”\nConvertir las variables que sean necesarias en variables de tipo  dicotómica con las categorías que se consideren pertinentes, aplicando la herramienta de  “Regresión Logística”\nRealizar una tabla de todos los coeficientes de precisión, exactitud y sensibilidad obtenidos para cada correlación analizada, según sea el caso.\nCrear los archivos requeridos en Google Colab y respaldarlos en GitHub.\nGenerar un reporte comparativo sobre los análisis realizados y subirlo a GitHub, en formato pdf.\nSubir el link del repositorio en CANVAS para “Evaluación”\n\n'

In [29]:
df = pd.read_csv('cuentas_credicel.csv', encoding='latin-1')

/var/folders/m7/pfsmcmd94k1_4j50b57tnvvw0000gn/T/ipykernel_50672/446361750.py:1: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('cuentas_credicel.csv', encoding='latin-1')

# nulos y outliers

In [30]:
# Mostrar valores nulos
def df_nulos(df):
    df_nulos = pd.DataFrame({
        'Count of Null Values': df.isnull().sum(),
        'Null Values Percentage %': round(df.isnull().sum() / len(df) * 100, 2),
        'Data Type': df.dtypes,
        'First Value': df.iloc[0],
        'Unique Values': df.nunique()
    })
    # pd.set_option('display.max_rows', None)
    return df_nulos

df_nulos(df)

,Count of Null Values,Null Values Percentage %,Data Type,First Value,Unique Values
folio,0,0.00,int64,3,22735
tag,0,0.00,object,HDNAWQ3A,22735
folio_solicitud,0,0.00,int64,30,22727
fecha,0,0.00,object,12/11/21 19:00,21590
marca,0,0.00,object,ZTE,29
modelo,0,0.00,object,Blade A3 2020 RO B,366
plazo,0,0.00,object,26S,4
precio,0,0.00,float64,1949.0,517
enganche,0,0.00,float64,780.0,1747
descuento,0,0.00,float64,0.0,26
semana,0,0.00,int64,81,643
monto_financiado,0,0.00,float64,1169.0,7251
costo_total,0,0.00,int64,2106,910
monto_accesorios,0,0.00,float64,0.0,246
agente_venta,0,0.00,object,Sintia Verenice Tenorio Perez E,1102
dis_venta,0,0.00,object,mic0437,585
status,0,0.00,int64,2,4
fraude,0,0.00,int64,0,2
empresa,13,0.06,object,microtec,48
inversion,0,0.00,int64,0,2
pagos_realizados,0,0.00,int64,0,56
reautorizacion,0,0.00,int64,0,2
fecha_ultimo_pago,3356,14.76,object,NaN,729
fecha_pago_proximo,3356,14.76,object,NaN,467
status_cuenta,3314,14.58,object,NaN,5
puntos,0,0.00,int64,0,59
riesgo,0,0.00,float64,0.0,1631
score_buro,0,0.00,int64,0,391
razones_buro,7340,32.29,object,NaN,1000
porc_eng,0,0.00,float64,40.02,2798
limite_credito,0,0.00,object,5000,50
semana_actual,0,0.00,int64,26,75
cp_cliente,7243,31.86,object,NaN,3069
edad_cliente,9,0.04,float64,23.0,99
cd_cliente,0,0.00,object,0,1921
edo_cliente,8,0.04,object,0,280
cd_venta,0,0.00,object,Tantoyuca,282
edo_venta,0,0.00,object,Veracruz,29
curp,0,0.00,object,AEVM980413MVZNDR02,21749

In [31]:
'''
Los nulos en este caso son sólo las variables de tipo object, 
es posible que los valores nulos tengan un significado.
Generalmente, los valores nulos en las variables categóricas en un dataframe como este (parecido a buró de crédito),
significa que el banco no ha reportado información sobre esa variable para ese cliente.
Me parece que lo mejor es cambiarlos de nombre a "No reportado" y dejarlos como una categoría más.
Además es posible que no usemos todas las variables, por lo que no es necesario eliminarlas.
'''
# Manejo de valores nulos
categorical_cols_with_na = ['empresa', 'fecha_ultimo_pago', 'fecha_pago_proximo', 'status_cuenta', 'razones_buro', 'edo_cliente', 'cp_cliente']
numerical_cols_with_na = ['edad_cliente']

for col in categorical_cols_with_na:
    df[col].fillna('Desconocido', inplace=True)

# Este código no es necesario en este caso
for col in numerical_cols_with_na:
    df[col].fillna(df[col].median(), inplace=True)

In [32]:
df_nulos(df)

,Count of Null Values,Null Values Percentage %,Data Type,First Value,Unique Values
folio,0,0.0,int64,3,22735
tag,0,0.0,object,HDNAWQ3A,22735
folio_solicitud,0,0.0,int64,30,22727
fecha,0,0.0,object,12/11/21 19:00,21590
marca,0,0.0,object,ZTE,29
modelo,0,0.0,object,Blade A3 2020 RO B,366
plazo,0,0.0,object,26S,4
precio,0,0.0,float64,1949.0,517
enganche,0,0.0,float64,780.0,1747
descuento,0,0.0,float64,0.0,26
semana,0,0.0,int64,81,643
monto_financiado,0,0.0,float64,1169.0,7251
costo_total,0,0.0,int64,2106,910
monto_accesorios,0,0.0,float64,0.0,246
agente_venta,0,0.0,object,Sintia Verenice Tenorio Perez E,1102
dis_venta,0,0.0,object,mic0437,585
status,0,0.0,int64,2,4
fraude,0,0.0,int64,0,2
empresa,0,0.0,object,microtec,49
inversion,0,0.0,int64,0,2
pagos_realizados,0,0.0,int64,0,56
reautorizacion,0,0.0,int64,0,2
fecha_ultimo_pago,0,0.0,object,Desconocido,730
fecha_pago_proximo,0,0.0,object,Desconocido,468
status_cuenta,0,0.0,object,Desconocido,6
puntos,0,0.0,int64,0,59
riesgo,0,0.0,float64,0.0,1631
score_buro,0,0.0,int64,0,391
razones_buro,0,0.0,object,Desconocido,1001
porc_eng,0,0.0,float64,40.02,2798
limite_credito,0,0.0,object,5000,50
semana_actual,0,0.0,int64,26,75
cp_cliente,0,0.0,object,Desconocido,3070
edad_cliente,0,0.0,float64,23.0,99
cd_cliente,0,0.0,object,0,1921
edo_cliente,0,0.0,object,0,281
cd_venta,0,0.0,object,Tantoyuca,282
edo_venta,0,0.0,object,Veracruz,29
curp,0,0.0,object,AEVM980413MVZNDR02,21749

In [33]:
# outliers

# Obtenemos la lista de columnas numéricas
num_cols = df.select_dtypes(include=['float64', 'int64']).columns

for col in num_cols:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1

    df[col] = np.where(df[col] < (Q1 - 1.5 * IQR), df[col].median(), df[col])
    df[col] = np.where(df[col] > (Q3 + 1.5 * IQR), df[col].median(), df[col])

In [63]:
def regresion_log(X_cols, y_col, is_binary = False):

    X, y = df[X_cols], df[y_col]

    #Dividimos el conjunto de datos en la parte de entrenamiento y prueba:
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state =None)

    #Se escalan todos los datos
    escalar = StandardScaler()

    #Para realizar el escalamiento de las variables “X” tanto de entrenamiento como de prueba, utilizaremos fit_transform
    X_train = escalar.fit_transform(X_train)
    X_test = escalar.transform(X_test)

    algoritmo = LogisticRegression()

    #Entrenamos el modelo
    algoritmo.fit(X_train, y_train)

    # Predicción de los resultados con el conjunto de prueba
    y_pred = algoritmo.predict(X_test)

    matriz = confusion_matrix(y_test, y_pred)
    exactitud = accuracy_score(y_test, y_pred)

    if is_binary == False:
        sensibilidad = recall_score(y_test, y_pred, average="weighted")
        puntajef1 = f1_score(y_test, y_pred, average="weighted")
    else:
        sensibilidad = recall_score(y_test, y_pred, average="binary", pos_label="yes")
        puntajef1 = f1_score(y_test, y_pred, average="binary", pos_label="yes")

    return exactitud, sensibilidad, puntajef1

In [71]:
# Lista para df de resultados
X_cols_list = []
y_col_list = []
exactitud_list = []
sensibilidad_list = []
puntajef1_list = []

# 1. Correlación entre ['precio','pagos_realizados'] y 'score_buro'
X_cols = ['precio','pagos_realizados']
y_col = 'score_buro'
exactitud, sensibilidad, puntajef1 = regresion_log(X_cols, y_col)
exactitud_list.append(exactitud)
sensibilidad_list.append(sensibilidad)
puntajef1_list.append(puntajef1)
X_cols_list.append(X_cols)
y_col_list.append(y_col)

# 2. Correlación entre ['precio','edad_cliente'] y 'score_buro'
X_cols = ['precio','edad_cliente']
y_col = 'score_buro'
exactitud, sensibilidad, puntajef1 = regresion_log(X_cols, y_col)
exactitud_list.append(exactitud)
sensibilidad_list.append(sensibilidad)
puntajef1_list.append(puntajef1)
X_cols_list.append(X_cols)
y_col_list.append(y_col)

/Users/michelehay/.pyenv/versions/3.9.6/envs/clase/lib/python3.9/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.4805746957924058

In [70]:
# Creamos el dataframe de resultados

df_resultados = pd.DataFrame({
    'X_cols': X_cols_list,
    'y_col': y_col_list,
    'exactitud': exactitud,
    'sensibilidad': sensibilidad,
    'puntajef1': puntajef1
})

df_resultados

                       X_cols       y_col  exactitud  sensibilidad  puntajef1
0  [precio, pagos_realizados]  score_buro   0.467967      0.467967   0.298362
1      [precio, edad_cliente]  score_buro   0.467967      0.467967   0.298362